.container{
    width: 100vw;
    height: 100vh;
    background-color: lightblue;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.plus{
    width: 200px;
    height: 125px;
}
.minus{
    
}